.foot_social {
    width: 40%;
    max-width: 100%;
    float: left;
    margin: 0 30%;
    z-index: 1;
}

.foot-social, .heading h1, .hm-feat-boxes, .quickboxes, .test-box-content, .upevents a {
    position: relative;
}

.foot-social ul {
    width: 100%;
    float: left;
    padding: 10px 5%;
    text-align: center;
}

.footer .first-footer {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0 20px;
    border-bottom: 1px solid #065e3e;
}

/* -webkit-text-size-adjust: 100%;
color: #000;
font-size: 15px;
line-height: 22px;
font-family: lato,sans-serif;
margin: 0;
box-sizing: border-box;
width: 100%;
float: left;
text-align: center;
padding: 30px 0 20px;
border-bottom: 1px solid #065e3e; */

.bottom {
    width: 100%;
    float: left;
    padding: 5px 30px;
    background: #db9c27;
    text-align: center;
    border-top: 1px solid #db9c27;
}

@media screen and (max-width: 920px){
.quick-links {
    width: auto;
}
}